################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeneratorsDataProcessor/bin/Debug/net8.0
/GeneratorsDataProcessor/obj
/.vs
